body{
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden;
}
h1{
    margin: 0;
    padding:50px 80px 0 80px;
    
}
p{
    margin: 0;
    padding:0 80px 50px 80px;
}
.content{
    width: 100%;
    height: 40rem;
    margin: 0;
    padding: 0%;
}

#color-main{
    background-color: #ffff;
}


#div-color-1{
    background-image: linear-gradient(#ffff, #ffff, green,green);
 }
#color-1{
    background-color: blue;
    border-radius: 100px 0 100px 0;
   
}
#div-color-2{
   background-image: linear-gradient(blue,blue, rgb(255, 17, 0),rgb(255, 17, 0));
}
#color-2{
    background-color: green;
    border-radius: 100px 0 0 100px ;
}

#div-color-3{
    background-image: linear-gradient(green, green,yellow,yellow);
 }
#color-3{
    background-color: rgb(255, 17, 0);
    border-radius: 0 100px 100px 0;
}

#div-color-4{
    background-image: linear-gradient(rgb(255, 17, 0),rgb(255, 17, 0), tomato,tomato);
 }
 #color-4{
     background-color: yellow;
     border-radius: 100px 0 0 100px ;
 }
 
 #div-color-5{
     background-image: linear-gradient(yellow,
     yellow,greenyellow, greenyellow);
  }
 #color-5{
     background-color: tomato;
     border-radius: 0 100px 100px 0;
 }
 
 #div-color-6{
    background-image: linear-gradient(tomato,tomato, #fff, #ffffff);
 }
 #color-6{
     background-color: greenyellow;
     border-radius: 100px 0 0 100px ;
 }
 #div-color-7{
    background-image: linear-gradient(greenyellow,greenyellow, red, red);
 }
 .majic{
     height: 400px;
     width: 400px;
     background-image: linear-gradient( red, yellow);
     border-radius:100% 0% 100% 0% / 100% 0% 100% 0%;
 }
 #color-7{
     background-color: #ffff;
     border-radius: 0 100px 0 100px ;
 }
 
 #div-color-main-footer{
     background-image: linear-gradient(greenyellow, rgb(255, 0, 200));
  }
 #color-main-footer{
     background-color: rgb(255, 17, 0); 
 } 
 #color-footer{
     background-color: rgb(47, 24, 68);
     padding-top: 0px;
     padding-bottom: 0;
     font-size: 20px;
     font-weight: 700;
     color: cornsilk;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
 }